body {
    background-color: rgb(52, 60, 64);
    margin: 0;
    box-sizing: border-box;
    position: relative;
    user-select: none;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    border: 1px solid black;
    background-color: rgb(110, 155, 214);
    border-radius: 20px;
    width: 650px;
    max-width: 100%;
    height: 480px;
    max-height: 100%;
    padding: 10px 0px 5px 0px;
}
.subcontainer {
    width: max-content;
    margin: auto;
}
.circle {
    border: 1px solid black;
    background-color: rgb(78, 78, 78);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 2px 7px;
}
.circle:hover {
    cursor: not-allowed;
}
.title {
    font-size: 3em;
    width: max-content;
    margin: 20px auto 0px auto;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 10px;
}
.difficulty {
    display: flex;
    width: 300px;
    max-width: 100%;
    margin: 20px auto 0px auto;
    justify-content: space-evenly;
}
.difficultySelection {
    border: none;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #162238;
    color: rgb(201, 201, 201);
    transition: 0.5s ease all;
}
.difficultySelection:hover, .start:hover {
    background-color: rgb(154, 205, 50);
    cursor: pointer;
}
.active {
    background-color: rgb(104, 138, 34) !important;
}
.highlight:hover {
    cursor: pointer;
}
.start {
    border: none;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #343434;
    color: rgb(201, 201, 201);
    transition: 0.5s ease all;
}
.wrapper {
    display: flex;
    width: 650px;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
}