* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
body
{
    /* image background
   background-image: url(https://wallpaperaccess.com/full/656336.png); 
   background-repeat: no-repeat;
   background-size: cover;
   */
   background-color: #003049;
   color: #bdbdbd;
   font-family: 'Ubuntu', sans-serif;
}
::selection
{
    background-color: #332600;
}

/* HEADER STYLES*/
header
{
    /*position: sticky;
    top: 0px;*/

    display: flex;
    justify-content: space-around;
    width: 100%; /*to use up more of the center space*/
    margin: auto; /*re-center it*/

    background-color: #001d3d;
    height: 15vh;
    align-items: center;
}
a.main{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 24px;
}
a.main:active{
    color: peachpuff;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all 1.5s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  margin-top: 0px; /*do not assign margin top*/
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 0.5s ease;
  transform: translateY(-10px);
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
    background-color: #dddddd;
}

.dropdown:hover .dropdown_content {
    opacity: 1;
    pointer-events:all;
    transform: translateY(0px);
}

.dropdown:hover .dropbtn{
    background-color: #457b9d;
    transform: scale(1.05);
    transition: all 1.5s ease;
}
.current{
    background-color: #457b9d;
}
/* end of header stuff*/
/*back to top button*/
button.btt{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 7px;
    background-color: rgba(49, 50, 49, 0.8);
    cursor: pointer;

    border: 1px solid black;
    border-radius: 20%;
}
button.btt:hover {
    transform: translateY(-1px);
    background-color: #878787;
    box-shadow: 0 0.5em 0.5em -0.4em #514040;

    transition: all 0.2s;
}
button.btt a{
    text-decoration: none;
    color: white;
}
/*end of back to top button*/
.cursive {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .5em;
}
h1
{
    text-align: center;
    font-size: 50px;
    padding: 1em;

    width: 100%;
    margin: auto;
}
p img#intro_pic
{
    display: block;
    width: 75%;
    height: 800px;
    object-fit: cover; /*for cropping image*/
    margin: auto;
}
p.left
{
    color: #ffbe0b;
    font-size: 35px;

    position: relative;
    width: fit-content;
    bottom: 13em;
    left: 7.2em;

    background-color: rgba(108, 117, 125, 0.8);
}
div.info
{
    display: flex;
    margin-top: 50px;
}
p.topic
{
    text-align: center;

    font-size: 50px;
    font-weight: 700;

    position: relative;
    top: 3.5em;
    left: 5em;
}
p.details
{
    font-size: 24px;

    text-align: left;
    margin-left: 30%;
    margin-right: 10%;
    padding: 100px;

    width: 150%;
    height: 50%;

    background-color: #3a0ca355;

    box-sizing: border-box;
    border: 1px solid #fcbf49;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
footer
{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}
footer a img
{
    width: 40px;
    position: relative;
    bottom: 15px;
    left: 10px;
}
footer p
{
    margin-left: 75%;
    position: relative;
    bottom: 0px;
    right: 0px;
    width: fit-content;
}
.margin
{
    margin-top: 50px;
}
h2
{
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 20%;
    letter-spacing: .2em !important;
    font-weight: 700;;
    width: fit-content;
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.5);
    color: rgb(169, 70, 0);
}
p.info_text
{
    text-align: center;
    font-size: 24px;
    font-weight: 100;

    border: 2px solid #fcbf49;
    background-color: #3a0ca355;
    width: 800px; 
    padding: 50px;
    margin: auto;
    border-radius: 10%;
    
    margin-top: 100px;
}
a.hlink {
    text-decoration: none;
    color: blue;
}
a.hlink:hover {
    text-decoration: underline;
    color: red;
}
img.interest_pic
{
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 1000px;
}
.eform{
    text-align: left;
    border: 1px solid #fcbf49;
    background-color: #118ab2;
    color: black;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
}
form button{
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #003049;
    color: white;
    border: 1px solid #fcbf49;
    transition: all 0.5s ease;
}
form button:hover {
    transition: all 0.5s ease;
    background-color: #004e77;
}
.flex {
    display: flex;
    margin: auto;
}
span {
    font-size: 12px;
    position: relative;
    margin-left: 13px;
}